.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Style1
{
  background-color: aqua;
  color: palevioletred;
}

.sun{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 85px;
  length: 85px;
  background: skyblue;
  border-radius: 360px;
  opacity: 1;
  animation: sun 10s 0s linear infinite;
}

.snowflake {
  stroke: blue;
  stroke-width: 1;
}


.App-header {
  background-color:cornflowerblue;
  min-height: 5vh;
  display: ruby-base-container;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 5vmin);
  color: white;
}

.App-link {
  color: #fb6173;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
